h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #001752;
}
h3{

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #001752;
}
a{
    text-decoration: none;
}
.header_cont{
    width: 100%;
    flex: 1;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.user-name{
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;

    color: #001752;
    margin-left: 20px;
}
.txt{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;

    color: #001752;
    margin-top: 80px;
}
.header-div .out-button{
    width: 156px;
    height: 49px;
    left: 1165px;
    top: 42px;

    background: #001752;
    border-radius: 20px;
    margin-top: -4px;
    margin-right: 20px;
}
.header-div .out-button-text{

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
}
.header-div .out-button:hover{
    background: #ADC6FF;
    border: 2px solid #001752;
    color: #001752
}
.header-div{

    margin-top: 46px;
    margin-bottom: 40px;
}
.header-line{
    border-top: 2px solid #ADC6FF;
    width: 95%;
}
.input-data-div{
    margin-top: 128px;
    max-width: 600px;
}
.add_t{
    background: #ADC6FF;
    border: 2px solid #001752;
    color: #001752;
}
.input-subject-name{
    width: 194px;
    height: 34px;


    border: 1px solid #001752;
    box-sizing: border-box;
    border-radius: 5px;
}
.select-field{
    width: 194px;
    height: 34px;


    border: 1px solid #001752;
    box-sizing: border-box;
    border-radius: 5px;
}
.group-add-icon{
    margin-top: 4px;
    margin-left: 18px;
}
.group_but .btn-add{
    min-width: 270px;
    max-width: 270px;
    height: 55px;


    background: #001752;
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}
.group_but .btn-adds{
    min-width: 270px;
    max-width: 270px;
    height: 55px;


    background: #001752;
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}
.group_but .btn-adds:hover{
    background: #ADC6FF;
    border: 2px solid #001752;
    color: #001752
}
.option-button{
    width: 270px;
    height: 55px;
    background: #001752;
    border-radius: 20px;

    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: #FFFFFF;
}
.option-button:hover{
    background: #ADC6FF;
    border: 2px solid #001752;
    color: #001752
}
.input-subject-name{
    padding-left: 10px;
    color: #001752;
    font-family: Roboto;
}
a{
    text-decoration: none;
}
.txt_decor{
    text-decoration: none;
}