.out-button{
    width: 156px;
    height: 49px;
    left: 1165px;
    top: 42px;

    background: #001752;
    border-radius: 20px;
    margin-top: -4px;
    margin-right: 20px;
}
a{
    text-decoration: none;
}
.out-button:hover{
    background: #ADC6FF;
    border: 2px solid #001752;
    color: #001752
}
.user-name{
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;

    color: #001752;
    margin-left: 20px;
}
.out-button-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
}
.header-div{
    margin-top: 46px;
}
.header-line{
    border-top: 2px solid #ADC6FF;
    width: 95%;
}

.admin-nav-button{
    width: 400px;
    height: 70px;

    background: #001752;
    border-radius: 20px;
    margin-top: 56px;
}
.admin-nav-button:hover{
    background: #ADC6FF;
    border: 2px solid #001752;
    color: #001752
}
.admin-nav-button-text{

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
.admin-nav-button-div{
    display: block;

}
a{
    text-decoration: none;
}