h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #001752;
}
h3{

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #001752;
}
a{
    text-decoration: none;
}
.user-name{
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;

    color: #001752;
}
.out-button{
    width: 156px;
    height: 49px;
    left: 1165px;
    top: 42px;

    background: #001752;
    border-radius: 20px;
    margin-top: -4px;
}
.out-button:hover{
    background: #ADC6FF;
    border: 2px solid #001752;
    color: #001752
}

.out-button-text{

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
}
.header-div{

    margin-top: 46px;
}
.header-line{
    border-top: 2px solid #ADC6FF;
    width: 95%;
}
.input-data-div{
    margin-top: 128px;
    max-width: 600px;
}

.input-subject-name{
    width: 194px;
    height: 34px;


    border: 1px solid #001752;
    box-sizing: border-box;
    border-radius: 5px;
}
.select-field{
    width: 194px;
    height: 34px;


    border: 1px solid #001752;
    box-sizing: border-box;
    border-radius: 5px;
}
.group-add-icon{
    margin-top: 4px;
    margin-left: 18px;
}
.btn-add{
    width: 214px;
    height: 48px;


    background: #001752;
    border-radius: 20px;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}
.btn-add:hover{
    background: #ADC6FF;
    border: 2px solid #001752;
    color: #001752
}
a{
    text-decoration: none;
}
.txt_decor{
    text-decoration: none;
}