*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
}
.header_cont{
    width: 100%;
    flex: 1;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.user-name{
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;

    color: #001752;
    margin-left: 20px;
}
.header-div .out-button{
    width: 156px;
    height: 49px;
    left: 1165px;
    top: 42px;

    background: #001752;
    border-radius: 20px;
    margin-top: -4px;
    margin-right: 20px;
}
.header-div .out-button:hover{
    background: #ADC6FF;
    border: 2px solid #001752;
    color: #001752
}
.header-div .out-button-text{

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
}
.header-div{
    margin-top: 46px;
}
.header-line{
    border-top: 2px solid #ADC6FF;
    width: 95%;
}
.btn-radius{
    min-width: 270px;
    max-width: 270px;
    height: 55px;
    background-color: #001752;
    font-family: Roboto;
    /*font-style: normal;*/
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    border-radius: 20px 20px 20px 20px;
    color: #FFFFFF;
}
.btn-radius:hover{
    background: #ADC6FF;
    border: 2px solid #001752;
    color: #001752
}
.txt{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;

    color: #001752;
    margin-top: 80px;
}
.btn-group_1{
    margin-top: 65px;
}
.first_but{
    margin-left: 50px;
    /*margin-right: 10px;*/
}
.last_but{
    margin-right: 50px;
    /*margin-left: 10px;*/
}
.add_t{
    background: #ADC6FF;
    border: 2px solid #001752;
    color: #001752;
}
.marks-table-div{
    background: #FFFFFF;
    border: 2px solid #ADC6FF;
    box-sizing: border-box;
    border-radius: 20px;

    margin-top: 50px;
    max-width: 743px;

}
a{
    text-decoration: none;
}
table{
    max-width: 720px;
    margin: 0 auto;
    /*border-color: #ADC6FF;*/

}
.table>:not(:first-child) {
    border-top: 2px solid #ADC6FF;
}


.table{
    border-color: #ADC6FF;

}
tr:last-child{
    border-color: white;
}

.mytable>tbody>tr>td, .mytable>tbody>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
    padding-top: 32px;
    padding-bottom: 27px;

}
.text-center{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #001752;
}
.num_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #001752;
}
.form_row{
    margin-top: 40px;
}
.field_style{
    border: 1px solid #001752;
    box-sizing: border-box;
    border-radius: 5px;
    width: 360px;
    height: 34px;
    padding-left: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    color: #001752;
}
.label-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;

    line-height: 23px;
    color: #001752;
    font-size: 20px;
}
/*.block {*/
/*    display: none;*/
/*}*/
.custom-select{
    max-width: 150px;
    min-width: 150px;
    height: 30px;
}
.chose-button{
    width: 150px;
    height: 45px;
    background: #001752;
    border-radius: 20px;

    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: #FFFFFF;
    margin-left: 40px;
}
.chose-button:hover{
    background: #ADC6FF;
    border: 2px solid #001752;
    color: #001752
}
.label_txt_1{
    margin-left: 50px;
}
a{
    text-decoration: none;
}