<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="${title}"></title>
    <link rel = "stylesheet" href = "../css/enterStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <div class="icon">
        <img src="../css/prof.svg">
    </div>
    <div class="inputs">
        <input type="text" placeholder="Введіть логін" class="fields">
    </div>
    <div class="inputs">
        <input type="password" placeholder="Введіть пароль" class="fields">
    </div>
    <div class="but">
        <a href="#" class="button">Ввійти</a>
    </div>
</div>
</body>
</HTML>